@charset "UTF-8";

body {
background-image: url("https://cdna.artstation.com/p/assets/images/images/004/347/140/large/juanjo-barcelo-dark-city-01.jpg?1482770432") !important;
background-repeat: no-repeat;
 background-size: 100% 100%;
 background-position: center;
 height:1000px !important;

}
h2{
	font-family: "Courier New" !important;
	text-align: center !important;
	color:white;
	width: 80% !important;
	  margin-left: auto;
  margin-right: auto;
}




img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

}

