@charset "UTF-8";

html body {

background-color: #222831;
color: #eeeeee;

}

.fluid-container{
	 align-content: center;
}



.navbar-custom {
    color:#d65a31;
    background-color:  #CC3333;
}

.img-fluid {
	height: 400px;
	width: 400px;
}

.carousel {
   
 	margin-bottom: 50px;
    margin-top: 50px;

}

.carousel-inner img {

	height: 250px;

}

.entire-carousel{
	margin-left: auto;
	margin-right: auto;
}

.container-whole{
	width: 80%;
	 max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.carousel-buttons{
	text-align: center;
}

.footer {
margin-top: 50px;
height:200px;
  position: absolute;
    bottom: 30px;
    width: 100%;


}

.user-profile {
 
  float: left;
  width: 32%;
  height: 175px;
}

.create-event {
 
  float: right;
  width: 32%;
  height: 175px;
  padding-left: 15px;
}

.submit-game {

  float: right;
  width: 32%;
  height: 175px;
}
