@charset "UTF-8";

body {

background-color: #222831;
color: white;


}

.navbar {
  border-color: blue;;
  border: solid;


}

.main {
    border: solid;
    height: 400px;

}

.buttons {

    display: inline-block;
    width:auto;
    height: 300px;


}



.table-top-button {
  float:left;
  width: 32%;
  border: solid;
  height: 250px;
}
.trading-card-button {
  border: solid;
  float: right;
  width: 32%;
  height: 250px;
  padding-left: 15px;

}

.table-mini-button {
  border: solid;
  float: right;
  width: 32%;
  height: 250px;
}

.footer {

height:200px;;

}

.user-profile {
  border: solid;
  float: left;
  width: 32%;
  height: 175px;
}

.create-event {
  border: solid;
  float: right;
  width: 32%;
  height: 175px;
  padding-left: 15px;
}

.submit-game {
  border: solid;
  float: right;
  width: 32%;
  height: 175px;
}
