@charset "UTF-8";

body {
	height: 100%;
	font-family: "Courier New";
text-align: center;
	background-image: url("https://fsb.zobj.net/crop.php?r=Da28LuD1vZs_GCsJAd1pj3xb-OUpy8edBGZQbB2__winaS_i6kfcqmr3rIIKZnrhAVAKVWZ0mS6ZCDHqomJkvin4abt39NhKyxoLrxPLLXENi5E6EO7Ky0beDwnDqF1KyPj9dXKRPYdpVURP");
}



.table {
	width: 300px !important;
	margin-top: 20px;
	margin-bottom: 0px !important;
	height: 400px !important;
	border-radius: 10px !important;
	
}

.text-center {
	position: fixed !important;
    width: 40% !important;
    padding-right: 15px !important;
    padding-left: 45px !important;
    padding-top: 30px !important;
}




img{
	width: 100% !important;
}

p {
	font-size: 15px;
}
.table td, .table th {
	border: 0px !important;
	color: white;
	font-size: 15px;
	font-family: "Courier New";
}
@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
	right: 50px;
    top: 90px;
	position: fixed !important;
    width: 300px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    padding-top: 30px !important;
    border:1px solid #bbb;
    background-color: white !important;
	margin: 0 auto !important;
	border-radius: 10px !important;
	height: 400px !important;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
    border-radius: 10px !important;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}